h1{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium';
  }
  
  .bold{
    font-style: oblique;
    text-align: right;
    font-size: 16pt;
    text-shadow: blue;
    color: darkblue;
  }
  #first{
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: gold;
  }
  #second{
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: rgb(0, 195, 255);
  }
  #third{
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: rgb(234, 0, 255);
  }
  #important{
   font-weight: bolder;
   color: indigo;
   font-family:'Trebuchet MS';
   font-size: 14pt;
  }

#background{
background-image:url(https://static.wikia.nocookie.net/the-bangtan-boys/images/3/3f/Koya_BT21.png/revision/latest/top-crop/width/360/height/450?cb=20210116005138);
opacity: initial 0.3;
width: 300px;
  border: 5px solid rgb(7, 192, 243);
  padding: 30px;
  margin: 20px;
}
#heading{
   border-color: plum;
  border-style: groove;
  font-size: 25pt;
  text-align: center;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuoX8Nhg339QwBZoYiPZ1x9a3f0GTKkoluwg&usqp=CAU);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
#aboutme{
  border-style: groove;
  background-color: coral;
  width: 200px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  float: none;
  clear: left;
}
.middle{
  background-position: center;
  border-style: solid;
  fill-opacity:initial 0.2;
  background-color: lightcyan;
  width: 500px;
  border: 15px solid rgb(100, 128, 0);
  padding: 450x;
  margin: 30px;
  float: none;
  clear: left;
  overflow: auto;
}
h2{
  font-size: 15pt;
  font-style: italic;
  font-family: cursive;
  text-align: center
}
#bottom{
  border: lightgreen;
  background-color: lime;
  backface-visibility: visible;
  opacity 0.1;
  width: 400px;
  border: 15px solid rgb(223, 231, 223);
  padding: 50px;
  margin: 20px;
  float:none;
}
h4{
  text-align: center;
  font-size: 16pt;
}
#tag{
  width: 300px;
  border: 15px solid rgb(113, 0, 128);
  padding: 50px;
  margin: 20px;
  background-color: linen;
  float:none;
}