h1{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium';
  }
  
  .bold{
    font-style: oblique;
    text-align: right;
    font-size: 16pt;
    text-shadow: blue;
    color: darkblue;
  }
  #first{
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: rgb(22, 22, 21);
  }
  #second{
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: rgb(2, 12, 15);
  }
  #third{
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: rgb(17, 1, 19);
  }
  #important{
   font-weight: bolder;
   color: rgb(8, 1, 12);
   font-family:'Trebuchet MS';
   font-size: 14pt;
  }

#background{
background-image:url(https://static.wikia.nocookie.net/the-bangtan-boys/images/3/3f/Koya_BT21.png/revision/latest/top-crop/width/360/height/450?cb=20210116005138);
opacity: initial 0.3;
width: 300px;
  border: 5px solid rgb(7, 192, 243);
  padding: 30px;
  margin: 20px;
}
#heading{
   border-color: plum;
  border-style: groove;
  font-size: 25pt;
  text-align: center;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuoX8Nhg339QwBZoYiPZ1x9a3f0GTKkoluwg&usqp=CAU);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
#aboutme{
  border-style: groove;
  background-image: url(https://pbs.twimg.com/media/DkykjF4UwAIhsBd.jpg);
  width: 800px;
  border: 5px solid rgb(88, 159, 240);
  padding: 50px;
  margin: 20px;
  float: none;
  clear: right;
}
.middle{
  background-position: center;
  border-style: solid;
  fill-opacity:initial 0.2;
  background-image: url(https://media.istockphoto.com/vectors/korean-finger-heart-icon-vector-id1144656856?k=6&m=1144656856&s=612x612&w=0&h=2Is8Kbml53A1Gd7rOFOpE2ud778ygfod0tDso7r8OJg=);
  width: 500px;
  border: 4px solid rgb(236, 88, 199);
  padding: 450x;
  margin: 30px;
  float: none;
  clear: left;
  overflow: auto;
  font-size: 16px;
  font-weight: 900;
  color: rgb(19, 10, 3);

}
h2{
  font-size: 15pt;
  font-style: italic;
  font-family: cursive;
  text-align: center
}
#bottom{
  background-image: url(https://www.wallpapertip.com/wmimgs/83-838381_html-wallpaper-background-code-coding-tags.jpg);
  backface-visibility: visible;
  opacity 0.1;
  width: 600px;
  border: 5px solid rgb(49, 45, 51);
  padding: 50px;
  margin: 20px;
  float:none;
  color: aliceblue;
}
h4{
  text-align: center;
  font-size: 16pt;
}
#tag{
  width: 400px;
  border: 5px solid rgb(25, 110, 236);
  padding: 60px;
  margin: 10px;
  background-image: url(https://i.pinimg.com/originals/81/34/02/813402c90767275120b69dc8e5a79850.jpg);
  float:none;
  color: rgb(25, 57, 61);
}
.important{
  background-image: url(https://www.wallpapertip.com/wmimgs/83-838381_html-wallpaper-background-code-coding-tags.jpg);
  backface-visibility: visible;
  opacity 0.1;
  width: 600px;
  border: 5px solid rgb(49, 45, 51);
  padding: 50px;
  margin: 20px;
  float:none;
  color: aliceblue;
}
#Favorites{
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  background color: yellow;
}
