h1{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium';
  }
  
  .bold{
    font-style: oblique;
    text-align: right;
    font-size: 16pt;
    text-shadow: blue;
    color: darkblue;
  }
  #first{
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: gold;
  }
  #second{
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: rgb(0, 195, 255);
  }
  #third{
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: rgb(234, 0, 255);
  }
  #important{
   font-weight: bolder;
   color: indigo;
   font-family:'Trebuchet MS';
   font-size: 14pt;
  }

#background{
background-color: khaki;
opacity: initial 0.3
}
#heading{
   border-color: plum;
  border-style: groove;
  font-size: 25pt;
  text-align: center;
  background-color: blueviolet;
}
#aboutme{
  border-style: groove;
  background-color: coral;
}
.middle{
  background-position: center;
  border-style: solid;
  fill-opacity:initial 0.2;
  background-color: lightcyan;
}
h2{
  font-size: 15pt;
  font-style: italic;
  font-family: cursive;
  text-align: center
}
#bottom{
  border: lightgreen;
  background-color: lime;
  backface-visibility: visible;
  opacity 0.1;
}
h4{
  text-align: center;
  font-size: 16pt;
}